body {
  margin: 0;
  background: #FFFDF1;
  color: #850E35;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
  transition: opacity 1s ease, transform 1s ease;
}

/* ทำให้ตัวหนังสือ responsive */
.intro h1 {
  font-size: clamp(1.5rem, 6vw, 3rem);
  opacity: 0;
  transition: opacity 1s ease;
  text-align: center;
  padding: 20px;
}

/* ตอนเปลี่ยนหน้า */
body.page-exit {
  opacity: 0;
  transform: scale(1.05);
}


@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}
